@import url("https://fonts.google.com/share?selection.family=Roboto");
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Roboto", sans-serif;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo{
  text-decoration: none;
  color: #4bcaff;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-top: 63px;
  display: flex;
}
.logo{
  color: #000;
  margin-bottom: 40px;
}
.nav__header{
  display: flex;
  background: #35444F;
  justify-content: center;
  height: 69px;
}
.nav__list li{
  display: inline-block;
  margin-top: 24px;
}
.nav__list a{
  text-decoration: none;
}
.nav__list{
  border-left: 1px solid #ffffff;
  font-size: 0;
}
.nav__item{
/*  margin-left: -.14em;*/
  border-right: 1px solid #ffffff;
  font-weight: 400; 
  font-size: 24px;
  line-height: 28px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 36px;
  padding-right: 36px;
  color: #FFFFFF;
  align-content: center;
}
.nav__item:hover{
  background: #222F3A;
}
.sidebar{
  margin-top: 49px;
  display: flex;
  width: 344px;
  height: 399px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar a{
  text-decoration: none; 
  display: block;
}
.side__link{
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding-top: 26px;
  padding-left: 42px;
  padding-bottom: 21px;
}
.side__link:hover{
  background: #DBDBDB;
 }
.img{
  display: flex;
  width: 320px;
  height: 381px;
  align-content: center;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  transition: 3s;  
}
.img:hover {
  transform: scale(1.2);
}
.aside{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.pic{
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 49px;
}
.text{
  width: 885px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
}
.content{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.nav__footer{
  display: flex;
  background: rgba(99, 105, 110, 0.48);
  height: 69px;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 54px;
}
.nav__footer li{
  display: inline-block;
  list-style: none;
 }
 .item__footer{
  text-decoration: none;
  color: 
  #0C1927;
  font-style: normal;
  margin-left: 20px;
  font-size: 28px;
  line-height:28px;
  padding-left: 5px;
  padding-right: 5px;
}
.copy{
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-left: 125px;
}
.item__footer:hover{
 color: #3181A6;
 text-decoration: underline; 
}